{% extends "base.html" %}
{% load custom_tags %}

{% block title %}Courses > {% get_variable 'cor2' %} {% endblock title %}

{% block link %}
<!--remix icons-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
<!--swiper css-->
<link rel="stylesheet" href="static/swiper-bundle.min.css">
<!--custom stylesheet-->
<link rel="stylesheet" href="static/coursenum.css">
{% endblock link %}

{% block main %}
<div class="main-container px-3 px-sm-3 px-md-4 px-lg-5 my-2 my-sm-3 my-md-4 py-2 py-sm-3 py-md-4">
    <section class="container-fluid my-2 my-sm-3 my-md-4">
      <div class="static-heading-container">
        <h1 class="static-heading" >{% get_variable 'cor2' %}</h1>
      </div>
      
      <div class="course-teacher">
          By {% get_variable 't-cor2' %}
        </div>

      <div class="about-course">
        <p class="text-white">
            {% get_variable 'a-cor2' %}
        </p>
      </div>
    </section>
    
    <section class="cards-section container-fluid my-2 my-sm-3 my-md-4">
      <div class="card text-center bg-dark">
        <div class="card-body">
          <h5 class="card-title">Course Outline</h5>
          <p class="card-text">Find the comprehensive outline of our course curriculum as directed by the university.</p>
          <a class="card__button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">View Outline</a>
        </div>
        <div class="card-footer">
          Last Updated: 07/03/24
        </div>
      </div>

      <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"       aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content bg-dark text-white">
            <div class="modal-header" data-bs-theme="dark">
              <h5 class="modal-title blue-modal-title" id="staticBackdropLabel">Course Outline</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <article>
                Introducing Assembly Language, Data Representation. Assembly Language Fundamentals: Data Definition Directives, Data Transfer Instructions, Arithmetic Instructions, Addressing Modes, Program Structure. The Macro Assembler : The Assembly Process, Related Files, Equates, Operators and Expressions, Transfer-of-Control Instructions, Using the 80386 Processor, Debugging Workshop. Input-Output Services, Conditional Processing, Arithmetic, Numeric Conversions and Libraries, String Processing, Macros and Structures, Disk Storage, File Processing, High-Level Linking.
                <br><br>
                <p class="pink-heading">Recommended Books :</p>
                1. Kip R. Irvine (1993). Assembly Language for the IBM-PC. 2nd Edition. Macmillan Publishing Company, New York.
                <br>
                2. Duntemann (1992). Assembly Language : Step-By-Step. John Wiley, New York.
                <br>
                3. Peter Abel (1995). IBM PC Assembly Language and Programming.. 3rd Edition. Prentice Hall International
              </article>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card text-center bg-dark">
        <div class="card-body">
          <h5 class="card-title">Course Documents</h5>
          <p class="card-text">Centralized access to all the documents and resources provided by our course instructors.</p>
          <a class="card__button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">View Docs</a>
        </div>
        <div class="card-footer">
          Last Updated: 07/03/24
        </div>
      </div>

      <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"       aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content bg-dark text-white">
            <div class="modal-header" data-bs-theme="dark">
              <h5 class="modal-title blue-modal-title" id="staticBackdropLabel">Course Documents</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>All the documents are uploaded in the provided Google Classroom.</p> 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    
    </section>
  </div>

  <div class="main-container featured-playlists">
        <h3 class="static-heading-featured-playlists pink-heading" style="25px">Featured Playlists</h3>
  </div>

  <section class="container slides-container">
    <div class="card__container swiper">
       <div class="card__content">
          <div class="swiper-wrapper">
             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=VD4zjTwRPjk59Lko&amp;list=PLR2FqYUVaFJpHPw1ExSVJZFNlXzJYGAT1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Programology</h3>
                   <p class="card__description">
                    Assembly Language Programming Tutorials in Urdu Hindi
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PLR2FqYUVaFJpHPw1ExSVJZFNlXzJYGAT1&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>
 
             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=XzsY9HMUkafrldTn&amp;list=PLduM7bkxBdOczQDpzp3R9ieJRpjtZrcxj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Safdar Dogar</h3>
                   <p class="card__description">
                    Assembly Language Programming Tutorial in Urdu|Hindi
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PLduM7bkxBdOczQDpzp3R9ieJRpjtZrcxj&feature=shared"target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>
 
             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=wgt-3UYtlhvR_bFp&amp;list=PLVSk3qldhEJcEI7_fpKEEfmbbgZpyCttv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Dr. Muhammad Naveed</h3>
                   <p class="card__description">
                    Computer Organization and Assembly Language
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PLVSk3qldhEJcEI7_fpKEEfmbbgZpyCttv&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>
 
             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=Yvu-ZpEs4jaONrv_&amp;list=PL7i2wta8UEF6lYj7RO3CLeccXFUm_Q29r" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Gen-4 Lifestyle</h3>
                   <p class="card__description">
                    8086 Assembly Language Programming For Beginners
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PL7i2wta8UEF6lYj7RO3CLeccXFUm_Q29r&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>

             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=mWEj6Sd_OkVuASzL&amp;list=PLrb70iTVZjZNSfBMQzywQ58E3IHtQqXZa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">The Amazing Codeverse</h3>
                   <p class="card__description">
                    Assembly Language (16-bit) | Tutorial Series in Urdu\Hindi
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PLrb70iTVZjZNSfBMQzywQ58E3IHtQqXZa&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>
          </div>
       </div>

       <!-- Navigation buttons -->
       <div class="swiper-button-next">
          <i class="ri-arrow-right-s-line"></i>
       </div>
       
       <div class="swiper-button-prev">
          <i class="ri-arrow-left-s-line"></i>
       </div>
       
    </div>
 </section>

 <script src="static/swiper-bundle.min.js"></script>
 <script src="static/courses.js"></script>

{% endblock main %}