{% extends "base.html" %}

{% block title %}Semester Share{% endblock title %}


{% block main %}

<!-- these classes may appear extensive, but they were deliberately utilized to practice and familiarize myself with a wide range of Bootstrap classes. -->
<div
  class="main-container px-3 px-sm-3 px-md-4 px-lg-5 my-2 my-sm-3 my-md-4 my-lg-5 py-2 py-sm-3 py-md-4 py-lg-5 h-100 w-100 d-flex flex-column justify-content-sm-center align-items-sm-center">

  <!-- author's and web's introduction -->
  <div
    class="text-container container-fluid px-3 px-sm-3 px-md-4 px-lg-5 my-2 my-sm-3 my-md-4 my-lg-5 py-2 py-sm-3 py-md-4 py-lg-5 h-100 w-100 d-flex flex-column justify-content-sm-evenly align-items-sm-start">
    <div class="heading-container my-2 d-flex align-items-center justify-content-sm-start overflow-hidden">
      <h1 class="heading">Welcome To Semester Share</h1>
    </div>
    <p class="my-2 text-white d-flex align-items-center">Hello, fellow learners! I'm Muhammad Bilal Khan, and I'm
      excited to be your guide on Semester Share,
      a hub designed
      to simplify your educational journey. Currently pursuing Computer Science at Umaer Basha Institute of Technology,
      University of Karachi, class of 2026, I'm also a web developer with a strong commitment to making learning
      effortlessly accessible.
      <br>
      At Semester Share, our mission is straightforward: we compile the various PDFs, DOCX files, slides, codes, and
      books
      that your teachers recommend, organizing them in one convenient place. Think of it as your go-to library,
      streamlining your access to essential resources without any unnecessary complexity.
      <br>
      Navigating through your educational materials should be as straightforward as possible. That's why Semester Share
      is
      here – no frills, no elaborate features, just a user-friendly platform dedicated to keeping your learning
      materials
      neatly organized. So, whether you're diving into PDFs, exploring DOCX files, or working with slides and codes,
      find
      everything you need in one centralized location.
      <br>
      Join us in simplifying your learning experience. Semester Share is all about making your educational journey
      smoother by providing easy access to the materials you need. Welcome to a platform where simplicity meets
      efficiency
      in education! 📚✨
    </p>
  </div>

  <!-- a bootstrap card element-->
  <div class="card bg-dark text-white">
    <div class="card-header">
      <h4 class="words-of-wisdom">Words of Wisdom</h4>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="blockquote-text">The function of education is to teach one to think intensively and to think
          critically. Intelligence plus
          character - that is the goal of true education.</p>
        <footer class="blockquote-footer"><cite title="Source Title">Martin Luther King Jr.</cite></footer>
      </blockquote>
    </div>
    <hr>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="blockquote-text">The real problem is not whether machines think but whether men do.</p>
        <footer class="blockquote-footer"><cite title="Source Title">B.F. Skinner</cite></footer>
      </blockquote>
    </div>
    <hr>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="blockquote-text">Live as if you were to die tomorrow. Learn as if you were to live forever.</p>
        <footer class="blockquote-footer"><cite title="Source Title">Mahatma Gandhi</cite></footer>
      </blockquote>
    </div>
    <hr>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="blockquote-text">Digital design is like painting, except the paint never dries.</p>
        <footer class="blockquote-footer"><cite title="Source Title">Neville Brod</cite></footer>
      </blockquote>
    </div>
    <hr>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="blockquote-text">The mind is not a vessel to be filled, but a fire to be kindled.</p>
        <footer class="blockquote-footer"><cite title="Source Title">Plutarch</cite></footer>
      </blockquote>
    </div>
    <hr>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p class="blockquote-text">Once a new technology rolls over you, if you're not part of the steamroller, you're
          part of the road.</p>
        <footer class="blockquote-footer"><cite title="Source Title">Stewart Brand</cite></footer>
      </blockquote>
    </div>
  </div>

</div>
{% endblock main %}