{% extends "base.html" %}
{% load custom_tags %}

{% block title %}Courses > {% get_variable 'cor3' %} {% endblock title %}

{% block link %}
<!--remix icons-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
<!--swiper css-->
<link rel="stylesheet" href="static/swiper-bundle.min.css">
<!--custom stylesheet-->
<link rel="stylesheet" href="static/coursenum.css">
{% endblock link %}

{% block main %}
<div class="main-container px-3 px-sm-3 px-md-4 px-lg-5 my-2 my-sm-3 my-md-4 py-2 py-sm-3 py-md-4">
    <section class="container-fluid my-2 my-sm-3 my-md-4">
      <div class="static-heading-container">
        <h1 class="static-heading" >{% get_variable 'cor3' %}</h1>
      </div>
      
      <div class="course-teacher">
          By {% get_variable 't-cor3' %}
        </div>

      <div class="about-course">
        <p class="text-white">
            {% get_variable 'a-cor3' %}
        </p>
      </div>
    </section>
    
    <section class="cards-section container-fluid my-2 my-sm-3 my-md-4">
      <div class="card text-center bg-dark">
        <div class="card-body">
          <h5 class="card-title">Course Outline</h5>
          <p class="card-text">Find the comprehensive outline of our course curriculum as directed by the university.</p>
          <a class="card__button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">View Outline</a>
        </div>
        <div class="card-footer">
          Last Updated: 07/03/24
        </div>
      </div>

      <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"       aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content bg-dark text-white">
            <div class="modal-header" data-bs-theme="dark">
              <h5 class="modal-title blue-modal-title" id="staticBackdropLabel">Course Outline</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <article>
                Topics in Analytical Geometry. Polar coordinates and parametric equations. Matrices and system of Linear Equations. Determination. Vector spaces and linear transformations. Eigenvalues.
                <br><br>
                <p class="pink-heading">Recommended Books :</p>
                1. Howard Anton (1994). Calculus with Analytic Geometry. John Wiley, Singapore.
                <br>
                2. P. Cohn (1994). Elements of Linear Algebra, Chapman & Hall, Glasgow.
                <br>
                3. S.M. Yousuf and M. Amin (1995). Calculus with Analytical Geometry. Ilmi Kitab Khana, Lahore.
              </article>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card text-center bg-dark">
        <div class="card-body">
          <h5 class="card-title">Course Documents</h5>
          <p class="card-text">Centralized access to all the documents and resources provided by our course instructors.</p>
          <a class="card__button" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">View Docs</a>
        </div>
        <div class="card-footer">
          Last Updated: 07/03/24
        </div>
      </div>

      <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"       aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content bg-dark text-white">
            <div class="modal-header" data-bs-theme="dark">
              <h5 class="modal-title blue-modal-title" id="staticBackdropLabel">Course Documents</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Will be updated as received.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    
    </section>
  </div>

  <div class="main-container featured-playlists">
        <h3 class="static-heading-featured-playlists pink-heading" style="25px">Featured Playlists</h3>
  </div>

  <section class="container slides-container">
    <div class="card__container swiper">
       <div class="card__content">
          <div class="swiper-wrapper">
             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=AQGbvdf1apfwuHlm&amp;list=PLRDl2inPrWQW1QSWhBU0ki-jq_uElkh2a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Jon Krohn</h3>
                   <p class="card__description">
                    Linear Algebra for Machine Learning
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PLRDl2inPrWQW1QSWhBU0ki-jq_uElkh2a&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>
 
             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=4XRIoA59PdtwM9hO&amp;list=PLIU86IV5HmhRy-mOQNuWkEoX7IThRPrH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Dr. Gajendra Purohit</h3>
                   <p class="card__description">
                      One Shot Series of Linear Algebra
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PLIU86IV5HmhRy-mOQNuWkEoX7IThRPrH8&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>
 
             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=p_ytRtr1mOvt2ZAz&amp;list=PL8Bjm9Mo3lgcwy7AflWKVmnsZIM6i7DFK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Vivek Kumar Yadav</h3>
                   <p class="card__description">
                    Linear Algebra (Advance Course)
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PL8Bjm9Mo3lgcwy7AflWKVmnsZIM6i7DFK&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>
 
             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=lDbBpJkzfNAPPVzu&amp;list=PLl-gb0E4MII03hiCrZa7YqxUMEeEPmZqK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Kimberly Brehm</h3>
                   <p class="card__description">
                    Linear Algebra (Entire Course)
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PLl-gb0E4MII03hiCrZa7YqxUMEeEPmZqK&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>

             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=Dr8st8fk_vTRfPJ2&amp;list=PL6AU1UrGh9PUHmIeKdDFro9WCE2ktR2h-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Asher Roberts</h3>
                   <p class="card__description">
                    Elementary Linear Algebra: Applications Version 12th Edition by Howard Anton
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PL6AU1UrGh9PUHmIeKdDFro9WCE2ktR2h-&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>
             
             <article class="card__article swiper-slide">
                <div class="card__image">
                   <iframe class="card__img" width="534" height="300" src="https://www.youtube.com/embed/videoseries?si=XuSHzgfQbRLq0R3u&amp;list=PLnT3h6Kb8kkR6yEwsFMvJzvwlGXtwHK3n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                   <div class="card__shadow"></div>
                </div>
 
                <div class="card__data">
                   <h3 class="card__name">Engineer's World</h3>
                   <p class="card__description">
                    Linear Algebra
                   </p>
 
                   <a href="https://youtube.com/playlist?list=PLnT3h6Kb8kkR6yEwsFMvJzvwlGXtwHK3n&feature=shared" target="_blank" class="card__button">View Playlist</a>
                </div>
             </article>
          </div>
       </div>

       <!-- Navigation buttons -->
       <div class="swiper-button-next">
          <i class="ri-arrow-right-s-line"></i>
       </div>
       
       <div class="swiper-button-prev">
          <i class="ri-arrow-left-s-line"></i>
       </div>

    </div>
 </section>

 <script src="static/swiper-bundle.min.js"></script>
 <script src="static/courses.js"></script>

{% endblock main %}